:root {
	--color-primary-dark: #001b4e;
	--color-primary: #1e63e9;
	--color-success: #49c10f;
	--color-dark: #1f1f1f;
	--color-white: #ffffff;

	--color-background: #f5f7fa;
	--color-border: #e5e7eb;
	--color-text-secondary: #64748b;
}
